{% extends "base.html" %}

{% block content %}
<script>
function addTag(){
    var last_tag = document.getElementById('last_tag');
    var tag_name = document.getElementById('new_tag').value.toLowerCase();
    var prev_names = "";
    for (let i of document.getElementsByName("tags")){
        prev_names += i.value.toLowerCase();;
    }
    if ((3 <= tag_name.length && tag_name.length <= 18) && !(prev_names.includes(tag_name))) {
        var upper_case = tag_name.charAt(0).toUpperCase() + tag_name.slice(1);
        if (prev_names == "") {
            document.getElementById('tags-menu').insertAdjacentHTML('afterbegin', "<label class='dropdown-item tags' id='last_tag'><input checked type='checkbox' name='tags' value='" + tag_name + "'> " + upper_case + "</label>");
        } else {
            var new_tag = last_tag.insertAdjacentHTML('afterend', "<label class='dropdown-item tags' id='last_tag'><input checked type='checkbox' name='tags' value='" + tag_name + "'> " + upper_case + "</label>");
            last_tag.removeAttribute("id");
        }
    }
}
</script>

<div class="authorization" align="center">
    <h2 align="left" style="margin-left: 20px;">Добавить продукт</h2>
    <hr style="margin: 10px">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <table width="94%" cellpadding="6">
        <tr>
            <td width="30%">{{ form.name.label }}</td>
            <td>{{ form.name(class="form-control") }}</td>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ form.description.label }}</td>
            <td>{{ form.description(class="form-control") }}</td>
            {% for error in form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ form.image.label }}</td>
            <td>{{ form.image() }}</td>
            {% for error in form.image.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ form.price.label }}</td>
            <td>{{ form.price(class="form-control") }}</td>
            {% for error in form.price.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ form.amount.label }}</td>
            <td>{{ form.amount(class="form-control") }}</td>
            {% for error in form.amount.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </tr>
        </table>
        <div align="left" class="dropdown keep-inside-clicks-open" style="width: 20%; margin: 0 10px;">
            <button class="btn btn-outline-light btn-auth dropdown-toggle" style="width: 100%;" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Теги
            </button>
            <div id="tags-menu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for tag in tags %}
                {% if loop.last %}
                    <label class="dropdown-item tags" id="last_tag">
                        {% if tag.name in chosen_tags %}
                        <input checked type="checkbox" name="tags" value="{{tag.name}}"> {{tag.name[0].upper() + tag.name[1:]}}
                        {% else %}
                        <input type="checkbox" name="tags" value="{{tag.name}}"> {{tag.name[0].upper() + tag.name[1:]}}
                        {% endif %}
                    </label>
                    {% for chosen_tag in chosen_tags %}
                        {% if chosen_tag not in tag_names(tags) %}
                        <label class="dropdown-item tags"><input checked type="checkbox" name="tags" value="{{chosen_tag}}"> {{chosen_tag[0].upper() + chosen_tag[1:]}}</label>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <label class="dropdown-item tags">
                        {% if tag.name in chosen_tags %}
                        <input checked type="checkbox" name="tags" value="{{tag.name}}"> {{tag.name[0].upper() + tag.name[1:]}}
                        {% else %}
                        <input type="checkbox" name="tags" value="{{tag.name}}"> {{tag.name[0].upper() + tag.name[1:]}}
                        {% endif %}
                    </label>
                {% endif %}
                {% endfor %}
                <table cellpadding="5">
                    <tr>
                        <td>
                        <input id="new_tag" class="form-control">
                        </td>

                        <td>
                        <button class="btn btn-outline-light btn-auth" type="button" onclick="addTag()">+</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="margin: 10px 0;">{{ form.submit(type="submit", class="btn btn-outline-light btn-auth", style="width: 300px;") }}</div>
        <div style="margin: 10px 0;">{{ message }}</div>
    </form>
</div>

<script>
</script>
{% endblock %}
