{% extends "base.html" %}

{% block content %}
<script>
function toggle_filter(obj){
    var checkbox = obj.children[0].firstChild;
    checkbox.checked = !checkbox.checked;
    console.log(checkbox.checked);
    if (checkbox.checked){
        checkbox.parentElement.classList.remove('tags-filter');
        checkbox.parentElement.classList.add('tags-filter-selected');
        obj.classList.remove('tags-filter');
        obj.classList.add('tags-filter-selected');
    } else {
        checkbox.parentElement.classList.remove('tags-filter-selected');
        checkbox.parentElement.classList.add('tags-filter');
        obj.classList.remove('tags-filter-selected');
        obj.classList.add('tags-filter');
    }
}
</script>

<div style="max-width: 80%; margin: 0 auto;">
    <div class="row" style="border-bottom: 3px solid #555; color: #555;">
        <h1>Каталог товаров</h1>
        {% if current_user.is_authenticated %}
            {% if current_user.access_level > 0 %}
            <a class="btn btn-outline-light btn-auth" style="margin: 10px; position: absolute; right: 25%; width: 14%;"
               href="/shop/add_product">Добавить продукт</a>
            {% endif %}
        {% endif %}
        <div align="right" class="dropdown" style="margin: 10px; position: absolute; right: 10%; width: 14%;">
            <button class="btn btn-outline-light btn-auth dropdown-toggle" style="width: 100%;" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Сортировать:
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href={{change_url_args(request.url, 'order', '0')}}>по возрастанию цены</a>
                <a class="dropdown-item" href={{change_url_args(request.url, 'order', '1')}}>по убыванию цены</a>
                <a class="dropdown-item" href={{change_url_args(request.url, 'order', '2')}}>по наименованию</a>
                <a class="dropdown-item" href={{change_url_args(request.url, 'order', '3')}}>по рейтингу</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="border-right: 1px solid #555; color: #555;" class="col-3">
            <form method="post">
            {% for tag in tags %}
            {% if tag.name in filter %}
                <div onclick="toggle_filter(this)" class="row tags-filter-selected">
                <label class="tags-filter-selected"><input checked style="visibility: hidden;" type="checkbox" name="tags-filter" value="{{tag.name}}"> {{tag.name[0].upper() + tag.name[1:]}}</label>
                </div>
            {% else %}
                <div onclick="toggle_filter(this)" class="row tags-filter">
                <label class="tags-filter"><input style="visibility: hidden;" type="checkbox" name="tags-filter" value="{{tag.name}}"> {{tag.name[0].upper() + tag.name[1:]}}</label>
                </div>
            {% endif %}
            {% endfor %}
            <button style="margin-top: 10px;" type="submit" class="btn btn-outline-light btn-auth">Применить фильтры</button>
            </form>
        </div>
        <div style="border-left: 1px solid #555; color: #555;" class="col">
            {% if products %}
            {{products[0].image}}
            {% else %}
            <h4>Товаров по указанным фильтрам не найдено</h4>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
